name: possystem
description: POS system by Flutter

# The following line prevents the package from being accidentally published to
# pub.dev using `pub publish`. This is preferred for private packages.
publish_to: "none" # Remove this line if you wish to publish to pub.dev

homepage: https://github.com/evan361425/flutter-pos-system

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# 2.7.2
version: 2.7.2+20702004

environment:
  flutter: "3.10.6"
  sdk: ">=2.17.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # core helper
  provider: ^6.0.5 # 23, 12-14
  intl: ^0.18.0 # 23, 04-18
  firebase_core: ^2.15.0
  firebase_analytics: ^10.4.4
  firebase_auth: ^4.7.1
  firebase_crashlytics: ^3.3.4
  firebase_in_app_messaging: ^0.7.3+4

  # services
  sqflite: ^2.3.0 # 23, 07-26
  sembast: ^3.5.0+1 # 23, 07-21
  shared_preferences: ^2.2.0 # 23, 06-30
  http: ^1.1.0 # 23, 06-26

  # google services
  googleapis: ^11.3.0
  google_sign_in: ^6.1.4
  extension_google_sign_in_as_googleapis_auth: ^2.0.10

  # components
  flutter_slidable: ^3.0.0 # 23, 04-14
  sliding_up_panel: ^2.0.0+1 #⚠️ 21, 04-27
  table_calendar: ^3.0.9 # 23, 01-06

  # image
  image: ^4.0.17 # 23, 05-07
  image_picker: ^1.0.1 # 23, 07-12
  image_cropper: ^5.0.0 # 23, 06-10

  # Make it easy to test
  # TODO: wait shared_preferences to support ^7.0.0
  file: ^6.0.0 # 23, 05-19

  # tools
  uuid: ^3.0.7 # 22, 11-13
  wakelock:
    git:
      url: https://github.com/evan361425/wakelock
      path: wakelock/
      ref: main
  characters: ^1.3.0 # 23, 02-17
  path_provider: ^2.0.15 # 23, 05-08
  url_launcher: ^6.1.12 # 23, 07-08
  flutter_native_splash: ^2.3.1 # 23, 06-04
  package_info_plus: ^4.0.2 # 23, 05-29
  cached_network_image: ^3.2.3 # 22, 11-25
  flutter_svg: ^2.0.7 # 23, 06-12
  spotlight_ant: ^1.0.3
  info_popup: ^3.0.5 # 23, 08-03
  go_router: ^10.0.0

dev_dependencies:
  flutter_test:
    sdk: flutter

  # code style
  flutter_lints: ^2.0.2

  # mock object
  build_runner: ^2.4.6
  mockito: ^5.4.2
  sqflite_common_ffi: ^2.2.5

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
    - assets/food_placeholder.png
    - assets/google_sheet_icon.png
    - assets/feature_request_please.gif
    - assets/google_signin_button.svg

# flutter pub run flutter_native_splash:create
flutter_native_splash:
  color: "#5c98ff"
  fullscreen: true
  image: assets/logo.png
