name: possystem
description: POS system by Flutter
publish_to: "none"
homepage: https://github.com/evan361425/flutter-pos-system
version: 2.9.0+20900007

environment:
  flutter: ">=3.19.0 <3.20.0"
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # core helper
  go_router: ^13.2.2
  provider: ^6.1.2
  intl: ^0.18.1
  collection: ^1.18.0
  firebase_core: ^2.27.0
  firebase_analytics: ^10.8.9
  firebase_auth: ^4.17.8
  firebase_crashlytics: ^3.4.18
  firebase_in_app_messaging: ^0.7.4+17

  # services
  sqflite: ^2.3.3 # 24, 04-03
  sembast: ^3.7.1 # 24, 03-26
  shared_preferences: ^2.2.2 # 23, 10-10
  http: ^1.2.0 # 24, 01-16

  # google services
  googleapis: ^13.1.0
  google_sign_in: ^6.2.1
  extension_google_sign_in_as_googleapis_auth: ^2.0.12

  # components
  table_calendar: ^3.0.9 # 24, 02-09
  syncfusion_flutter_charts: ^24.2.9
  spotlight_ant: ^1.1.0

  # image
  image: ^4.1.7 # 24, 01-10
  image_picker: ^1.0.7 # 24, 01-09
  image_cropper: ^5.0.1 # 23, 11-26
  cached_network_image: ^3.3.1 # 23, 12-31
  flutter_svg: ^2.0.10+1 # 24, 02-20

  # Make it easy to test
  file: ^7.0.0 # 23, 05-19

  # tools
  uuid: ^4.3.3 # 24, 01-11
  wakelock:
    git:
      url: https://github.com/evan361425/wakelock
      path: wakelock/
      ref: main
  characters: ^1.3.0 # 23, 02-17
  path_provider: ^2.1.2 # 24, 01-09
  url_launcher: ^6.2.5 # 24, 02-21
  flutter_native_splash: ^2.4.0 # 24, 03-17
  package_info_plus: ^5.0.1 # 23, 08-02
  visibility_detector: ^0.4.0+2 # 23, 03-09

dev_dependencies:
  flutter_test:
    sdk: flutter

  # code style
  flutter_lints: ^3.0.2

  # mock object
  build_runner: ^2.4.0
  mockito: ^5.4.4
  sqflite_common: ^2.5.4 # logging
  sqflite_common_ffi: ^2.3.3

  arb_glue: ^0.3.2

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
  - assets/food_placeholder.png
  - assets/google_sheet_icon.svg
  - assets/feature_request_please.gif
  - assets/google_signin_button.svg

# flutter pub run flutter_native_splash:create
flutter_native_splash:
  color: "#5c98ff"
  fullscreen: true
  image: assets/logo.png

arb_glue:
  source: assets/l10n
  destination: lib/l10n
  author: Lu Shueh Chou
  fileTemplate: 'app_{lang}.arb'
  base: zh
  verbose: true
