name: possystem
description: POS system by Flutter
publish_to: "none"
homepage: https://github.com/evan361425/flutter-pos-system
version: 2.9.1+20901003

environment:
  flutter: ">=3.22.0 <3.23.0"
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_localizations:
    sdk: flutter

  # core helper
  go_router: ^14.1.2
  provider: ^6.1.2
  intl: ^0.19.0
  collection: ^1.18.0
  firebase_core: ^2.31.0
  firebase_analytics: ^10.10.5
  firebase_auth: ^4.19.5
  firebase_crashlytics: ^3.5.5
  firebase_in_app_messaging: ^0.7.5+5

  # services
  sqflite: ^2.3.3+1 # 24, 04-03
  sembast: ^3.7.1 # 24, 03-26
  shared_preferences: ^2.2.3
  http: ^1.2.1

  # google services
  googleapis: ^13.1.0
  google_sign_in: ^6.2.1
  extension_google_sign_in_as_googleapis_auth: ^2.0.12

  # components
  table_calendar: ^3.1.1 # 24, 02-09
  syncfusion_flutter_charts: ^25.2.4
  spotlight_ant: ^1.1.1

  # image
  image: ^4.1.7 # 24, 01-10
  image_picker: ^1.1.1 # 24, 04-30
  image_cropper: ^5.0.1 # 23, 11-26
  cached_network_image: ^3.3.1 # 23, 12-31
  flutter_svg: ^2.0.10+1 # 24, 02-20

  # Make it easy to test
  file: ^7.0.0 # 23, 05-19

  # tools
  uuid: ^4.4.0 # 24, 01-11
  wakelock:
    git:
      url: https://github.com/evan361425/wakelock
      path: wakelock/
      ref: main
  characters: ^1.3.0 # 23, 02-17
  path_provider: ^2.1.3 # 24, 01-09
  url_launcher: ^6.2.6 # 24, 02-21
  flutter_native_splash: ^2.4.0 # 24, 03-17
  package_info_plus: ^8.0.0 # 23, 08-02
  visibility_detector: ^0.4.0+2 # 23, 03-09
  cupertino_icons: ^1.0.8 # This is for google-package which use it in some case

dev_dependencies:
  flutter_test:
    sdk: flutter

  # code style
  flutter_lints: ^4.0.0

  # mock object
  build_runner: ^2.4.10
  mockito: ^5.4.4
  sqflite_common: ^2.5.4 # logging
  sqflite_common_ffi: ^2.3.3

  arb_glue: ^1.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter.
flutter:
  uses-material-design: true

  # Enable generation of localized Strings from arb files.
  generate: true

  assets:
  - assets/food_placeholder.png
  - assets/google_sheet_icon.svg
  - assets/feature_request_please.gif
  - assets/google_signin_button.svg

# flutter pub run flutter_native_splash:create
flutter_native_splash:
  color: "#5c98ff"
  fullscreen: true
  image: assets/logo.png

arb_glue:
  source: assets/l10n
  destination: lib/l10n
  author: Lu Shueh Chou
  fileTemplate: 'app_{lang}.arb'
  base: en
  verbose: true
