<div
  class="react-toggle displayOnlyInLargeViewport_GrZ2 react-toggle--checked"
  role="button"
  tabindex="-1"
>
  <div class="theme-toggle-track">
    <div class="react-toggle-track-check">
      <span class="toggle_71bT">🌜</span>
    </div>
    <div class="react-toggle-track-x"><span class="toggle_71bT">🌞</span></div>
  </div>
  <div class="react-toggle-thumb"></div>
  <input
    type="checkbox"
    class="react-toggle-screenreader-only"
    aria-label="Switch between dark and light mode"
    checked=""
  />
</div>
