$nav-background-color: #30363b;
$background-color: $gray-35;
$text-color: $gray-80;
$primary-color: #007bff !default;
$highlight-border: rgba(240, 246, 252, 0.15);
$code-color: $gray-70;
$code-background-color: $highlight-border;
$link-color: #58a6ff;
$link-color-hover: #4c8dd8;
$link-color-visited: #58a6ff;
$table-border-color: $gray-45;
$table-row-background-color: $gray-35;
$table-row2-background-color: #343638;
