$gray-5: #010101; /*dark*/
$gray-10: #040404;
$gray-15: #070808;
$gray-20: #0d0d0e;
$gray-25: #141516;
$gray-30: #1e2022;
$gray-35: #2d2f31;
$gray-40: #404346;
$gray-45: #5b5e62;
$gray-50: #7c8084;
$gray-55: #9da1a5;
$gray-60: #b9bdc1;
$gray-65: #cdd1d5;
$gray-70: #dce0e3;
$gray-75: #e7eaed;
$gray-80: #eff2f5;
$gray-85: #f4f7fa;
$gray-90: #f7fafd;
$gray-95: #fcfefe; /*light*/

$animate: 200ms;
