.sidebar {
  margin: 0;
  padding: 2rem 1rem;
  width: 100%;
  height: auto;
  position: relative;
  overflow: auto;
  float: none;
  background-color: white;

  @include large {
    width: 12rem;
    height: 100%;
    float: left;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    list-style: none;
    text-align: center;

    a {
      display: block;
      padding: 1rem;
      text-decoration: none;
    }

    &.active {
      background-color: $header-bg-color;
      a {
        color: white;
      }
    }

    &:hover:not(.active) {
      background-color: $header-bg-color-secondary;
      a {
        color: white;
      }
    }

    @include large {
      float: none;
    }
  }
}
