@import "_variables";

.mode-toggle {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.toggle-switch {
  margin: 0;
  padding: 0;
  width: 40px;
  height: 20px;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  border-radius: 10px;
  display: inline-block;
  background: $gray-40;

  &,
  &::before,
  &::after {
    transition: all $animate ease-in-out;
  }

  &::before {
    top: 3px;
    left: 20px;
    content: "";
    width: 14px;
    height: 14px;
    display: block;
    position: absolute;
    border-radius: 8px;
    background: $gray-70;
  }

  &::after {
    content: "";
    top: 14px;
    right: 2px;
    width: 1px;
    height: 1px;
    display: block;
    position: absolute;
    border-radius: 0.5px;
    background: $gray-40;
  }

  &:hover,
  &:hover:after {
    background: $gray-35;
  }

  &:focus,
  &:active,
  &:active:after {
    background: $gray-25;
  }
}

body.dark .toggle-switch {
  background: $gray-70;

  &::before {
    left: 4px;
    background: $gray-35;
  }

  &::after {
    top: 3px;
    right: 1px;
    width: 28px;
    height: 14px;
    border-radius: 14px;
    background: $gray-70;
  }

  &:hover,
  &:hover:after {
    background: $gray-95;
  }

  &:focus,
  &:active,
  &:active:after {
    background: $gray-65;
  }
}
