name: github pages

on:
  push:
    branches:
      - master
    paths:
      - "docs/**"
      - "!docs/untranslated.json"
      - "!docs/unused.txt"
      - mkdocs.yaml
  pull_request:
    paths:
      - "docs/**"
      - "!docs/untranslated.json"
      - "!docs/unused.txt"
      - mkdocs.yaml
  workflow_dispatch:

jobs:
  deploy:
    name: GitHub Pages
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: true

      - uses: actions/setup-python@v4
        with:
          python-version: "3.10"

      - name: Install dependencies
        run: |
          pip install mkdocs
          pip install mkdocs-material
          pip install mkdocs-git-revision-date-plugin
          pip install mkdocs-static-i18n
          pip install mdx_truly_sane_lists

      - name: Build
        if: ${{ github.ref != 'refs/heads/master' }}
        run: mkdocs build

      - name: Deploy
        if: ${{ github.ref == 'refs/heads/master' }}
        run: mkdocs gh-deploy
