name: Add Artifacts for Release Candidate

on:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    inputs:
      tag:
        description: "Draft a release in specific tag. e.x v1.2.3-rc1"
        required: false
      skip-release:
        description: "Skip building GitHub release"
        required: false
        default: "false"

  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+-rc[0-9]+"

jobs:
  check-version:
    name: Check pubspec.yaml version with tag
    runs-on: ubuntu-latest
    outputs:
      build_code: ${{ steps.pubspec_version.outputs.code }}
      # v1.2.3-rc1 => v1.2.3-rc1
      tag: ${{ steps.tag.outputs.result }}
      # v1.2.3-rc1 => 1.2.3
      tag_version: ${{ steps.pubspec_version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      # v1.2.3-rc1 => 1.2.3
      - name: Extract tag version name
        if: ${{ github.event_name != 'workflow_dispatch' }}
        id: tag_version
        uses: actions/github-script@v8
        with:
          result-encoding: string
          script: |
            const version = context.payload.ref.replace(/\/?refs\/tags\/v/, '');
            const index = version.indexOf('-');

            return version.substr(0, index === -1 ? undefined : index);

      # v1.2.3-rc1 => v1.2.3-rc1
      - name: Extract tag name
        id: tag
        uses: actions/github-script@v8
        env:
          INPUT_TAG: ${{ github.event.inputs.tag }}
        with:
          result-encoding: string
          script: |
            return context.eventName === 'workflow_dispatch'
              ? process.env.INPUT_TAG
              : context.payload.ref.replace(/\/?refs\/tags\//, '');

      - name: Extract pubspec version and code
        id: pubspec_version
        run: |
          ver=$(grep -m 1 '^version: ' pubspec.yaml | cut -d' ' -f2)
          echo "version=$(echo "$ver" | cut -f1 -d"+")" >> $GITHUB_OUTPUT
          echo "code=$(echo "$ver" | cut -f2- -d"+")" >> $GITHUB_OUTPUT

      - name: Check version
        if: ${{ github.event_name != 'workflow_dispatch' && steps.tag_version.outputs.result != steps.pubspec_version.outputs.version }}
        run: |
          echo '${{ steps.tag_version.outputs.result }} is not equal to ${{ steps.pubspec_version.outputs.version }}''
          exit 1

  # If it is first RC tag, create pre-release
  rc-release:
    name: Create RC release
    if: ${{ github.event_name != 'workflow_dispatch' || github.event.inputs.skip-release != 'true'}}
    runs-on: ubuntu-latest
    needs: check-version
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Build Changelog
        id: build_changelog
        if: ${{ endsWith(needs.check-version.outputs.tag, '-rc1') }}
        uses: mikepenz/release-changelog-builder-action@v6
        with:
          configuration: "release.config.json"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Draft release with changelog
        if: ${{ endsWith(needs.check-version.outputs.tag, '-rc1') }}
        uses: softprops/action-gh-release@v2
        with:
          name: v${{ needs.check-version.outputs.tag_version }}
          tag_name: ${{ needs.check-version.outputs.tag }}
          body: ${{ steps.build_changelog.outputs.changelog }}
          draft: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
