name: Tests

# Controls when the action will run.
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches:
      - master
    paths-ignore:
      - "**.md"
      - "docs/**"
      - "scripts/**"
      - "android/**"
      - "pubspec.yaml"
      - "pubspec.lock"
      - "mkdocs.yaml"
      - "Makefile"
      - ".github/**"
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  code-checking:
    name: Check code format and testing
    runs-on: ubuntu-latest
    if: ${{ !startsWith(github.head_ref , 'refs/heads/ci/') }}
    steps:
      - uses: actions/checkout@v4

      # Setup the flutter environment.
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: "3.27.x"
          cache: true
          channel: "stable"

      # Get flutter dependencies.
      - name: Install dependencies
        env:
          GH_READ_PAT: ${{ secrets.GH_READ_PAT }}
        run: |
          echo "https://oauth:$GH_READ_PAT@github.com" > ~/.git-credentials
          git config --global credential.helper store
          flutter pub get

      # Statically analyze the Dart code for any errors.
      - name: Linter
        run: flutter analyze .

      - name: Format
        run: dart format --set-exit-if-changed --show none --line-length 120 .

      # Run widget tests for our flutter project.
      - name: Testing
        if: github.event_name == 'pull_request'
        run: flutter test

      - name: Testing with Coverage
        if: github.event_name != 'pull_request'
        run: flutter test --coverage

      - name: Coverage to codecov
        if: github.event_name != 'pull_request'
        uses: codecov/codecov-action@v3
        with:
          file: coverage/lcov.info
